jupyter==1.0.0
pandas==0.25.1
matplotlib==3.1.1
nltk==3.4.5
scikit-learn==0.21.3
gensim==3.8.1
tensorflow==2.5.1
Keras==2.3.1
tqdm==4.36.1
gdown==3.8.3
xgboost==0.90
textblob==0.15.3
vaderSentiment==3.2.1
